@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
body {
    background: #e8e7e8;
    overflow-x: hidden;
    padding: 0px;
    font-family: FuturaPT-Book;
}

li {
    font-family: FuturaPT-Book;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-image: url(../img/BG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-pad {
    padding: 0px!important;
}

.centered {
    text-align: center;
}

.hidden {
    display: none;
}

.header_row {
    background: #f6891f;
}

.content-row {
    margin-top: 20px;
}

.logo {
    padding: 20px;
    margin-left: 25px;
}

.white_back {
    background: #ffffff;
    margin-left: -1px;
    margin-right: 1px;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 767px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}


/********* Slider Section 1 *********/

#mainSlider img {
    width: 100%;
    margin-top: 0px;
}

.carousel-indicators li {
    color: #f6891f;
    background: #bbbbbb;
    border-color: #bbbbbb;
}

.carousel-indicators .active {
    background: #f6891f;
    border-color: #f6891f;
}

.carousel-indicators {
    bottom: 0px;
}

#leftArrow {
    text-align: left;
    opacity: 1;
    background-image: none;
}

#rightArrow {
    text-align: right;
    opacity: 1;
    background-image: none;
}

#mainSlider #leftArrow img {
    margin-top: 110%;
    width: 50px;
    position: relative;
    left: 0px;
}

#mainSlider #rightArrow img {
    margin-top: 110%;
    width: 50px;
    position: absolute;
    right: 0px;
}


/********* Section 2 *********/

#countDownBack {
    background-image: url(../img/Save_back.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 0 200px;
}

@media only screen and (max-width: 1600px) {
    #countDownBack {
        padding: 10px 0 120px
    }
}

@media only screen and (max-width: 1400px) {
    #countDownBack {
        padding: 10px 0 100px
    }
}

@media only screen and (max-width: 1250px) {
    #countDownBack {
        padding: 10px 0 70px
    }
}

#countDown h2 {
    background: #f6891f;
    text-align: center;
    padding: 15px;
    color: #ffffff;
    margin-bottom: 0px;
    font-family: FuturaPT-Book;
    font-weight: 300;
    text-transform: uppercase;
}

#saveDateTxt {
    padding-left: 50px;
}

#saveDateTxt ul {
    padding-left: 20px;
}

#saveDateTxt h3 {
    color: #f6891f;
    font-size: 34px;
    font-family: FuturaPT-Bold;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0px;
}

#saveDateTxt h4 {
    color: #000000;
    font-size: 24px;
    font-family: FuturaPT-Bold;
    font-weight: 300;
    margin-top: 0px;
    text-transform: uppercase;
    line-height: 1.25;
}

#saveDateTxt p,
#saveDateTxt li {
    font-family: FuturaPT-Book;
    font-weight: 300;
    font-size: 20px;
}

#saveDateTxt p {
    margin-bottom: 5px;
}

#fbRow {
    margin-top: 25px;
}

#fbRow a {
    text-decoration: none;
}

#fbRow img,
#fbRow p {
    display: inline-block;
    color: #000000;
}

#fbRow img {
    margin-right: 10px;
}

#fbRow p {
    vertical-align: bottom;
    margin-bottom: 0px;
}

.countdownwrap {
    padding: 15px 0;
}

#tickerTxt {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-family: FuturaPT-Medium;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

#clockdiv>div {
    padding: 0px;
    border-radius: 0px;
    display: inline-block;
}

#clockdiv div>span {
    padding: 10px 20px;
    border-radius: 0px;
    background: #000000;
    display: inline-block;
    font-weight: 800;
}

.colon {
    display: inline-block;
    color: #000000;
    position: relative;
    top: -42px;
    font-weight: 700;
    font-family: FuturaPT-Book;
}

.smalltext {
    padding: 5px;
    background: #f6891f;
    font-size: 13px;
    text-transform: uppercase;
    font-family: FuturaPT-Bold;
}


/******* Section 3 **********/

#servicesRow h2 {
    background: #f6891f;
    text-align: center;
    padding: 15px;
    color: #ffffff;
    margin-bottom: 0px;
    font-family: FuturaPT-Book;
    font-weight: 300;
    text-transform: uppercase;
}

.sub_title p {
    margin: 15px auto;
    font-weight: 700;
    font-family: FuturaPT-Book;
    font-size: 20px;
}

.tab_services {
    float: left;
    clear: both;
    background-image: url(../img/cater_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 450px;
    width: 100%;
}

.tab_row {
    width: 90%;
    margin: 2.5% 5% 0;
    position: absolute;
    bottom: 0;
}

.tab {
    width: 25%;
    text-align: center;
    text-transform: uppercase;
    background: rgba(255, 255, 255, .8);
    display: inline-block;
    margin-right: -4px;
    border: 1px solid #ffffff;
    cursor: pointer;
}

.tab:hover {
    background: #f6891f;
}

.tab.active {
    background: #f6891f;
}

.tab p {
    margin: 10px 0;
    font-family: FuturaPT-Book;
    font-weight: 700;
}

.service_slide {
    margin: 30px 30px 50px;
    background: rgba(0, 0, 0, .75);
    padding: 10px 15px;
}

#cheeseBox {
    background: rgba(255, 255, 255, .8);
}

#cheeseBox p {
    color: #000;
}

.service_slide p {
    font-family: FuturaPT-Book;
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
}

.service_slide h3 {
    font-family: FuturaPT-Bold;
    color: #f6891f;
    font-weight: 700;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 34px;
}

.service_slide a {
    color: #ffffff;
    text-decoration: none;
    font-family: FuturaPT-Book;
    font-weight: 700;
    font-size: 20px;
}

.icon_box {
    height: 100px;
    text-align: center;
}

.icon_box img {
    position: absolute;
    bottom: 0px;
    margin-left: -25%;
}

#smallSlider {
    background: #fff;
    padding-bottom: 25px;
}

#exploreSlider #rightArrow,
#experienceSlider #rightArrow,
#teamSlider #rightArrow {
    width: 25px;
    position: absolute;
    right: -5%;
    text-align: left;
}

#exploreSlider #leftArrow,
#experienceSlider #leftArrow,
#teamSlider #leftArrow {
    width: 25px;
    position: absolute;
    left: -5%;
}

.off_arrow_right {
    margin-top: 35px;
}

.off_arrow_left {
    margin-top: 35px;
}

.explore_arrow_right {
    top: 50%;
    position: absolute;
    margin-top: 0;
    color: #f6891f;
    text-shadow: none;
}

.explore_arrow_left {
    top: 50%;
    position: absolute;
    margin-top: 0;
    color: #f6891f;
    text-shadow: none;
}

#typeClick {
    background: #ffffff;
    padding-bottom: 0px;
}

@media only screen and (min-width: 1200px) {
    #exploreSlider .carousel-inner {
        margin-left: 5%;
        width: 95%;
    }
}

#smallSlider h3,
#typeClick h3 {
    font-size: 24px;
    font-family: FuturaPT-Bold;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 15px;
    margin-bottom: 20px;
}

#experienceSlider .item img {
    width: 100%;
    z-index: 10;
    position: relative;
}

.slide_caption {
    background: rgba(0, 0, 0, .8);
    color: #fff;
    position: absolute;
    bottom: 0;
    padding: 10px 15px;
    margin-right: 15px;
    z-index: 50;
}

.slide_caption p {
    font-size: 18px;
    font-weight: 300px;
}

#teamSlider .item {
    background: #fff;
    padding: 40px 10%;
}

#teamSlider .item {
    background: #fff;
    padding: 25px 150px;
    height: 100%;
    float: left;
    width: 100%;
}

#teamSlider .carousel-indicators {
    bottom: -45px;
    position: absolute;
}

.title_line {
    color: #f6891f;
    font-size: 24px;
    font-family: FuturaPT-Bold;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
}

#eventsRow {
    margin-top: 10px;
}

.events {
    padding: 10px;
}

.events .col-md-offset-1 {
    margin-left: 6.333333%;
}

.module {
    background-color: #fff;
    display: inline-block;
}

.module_title_line {
    color: #f6891f;
    font-size: 24px;
    font-family: FuturaPT-Bold;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 10px;
}

.module img {
    display: inline-block;
    width: 40%;
}

.module_text {
    top: -21px;
    font-size: 15px;
    font-family: FuturaPT-Bold;
}

#module_hr {
    top: -21px;
    float: none;
}

.boby_txt {
    font-size: 18px;
    font-family: FuturaPT-Book;
    font-weight: 600;
}

#clubRow h2 {
    color: #f6891f;
    font-size: 34px;
    font-family: FuturaPT-Bold;
    font-weight: 600;
    text-transform: uppercase;
}

.clubImg {
    width: 100%;
    margin-top: 50px;
}

#ourTeam {
    padding: 15px;
}

@media only screen and (max-width: 767px) {
    #ourTeam {
        text-align: center;
    }
}

#poepleRow {
    margin-bottom: 50px;
    padding: 0 15px;
}

#commTxtWrap {
    background: rgba(255, 255, 255, .8);
    padding: 20px
}

#communityBack {
    background-image: url(../img/community_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

#community_list {
    padding-left: 25px;
}

#community_list li {
    font-size: 18px;
}

#logoRow {
    text-align: center;
    margin-top: 20px;
}

#logoRow img {
    display: inline-block;
    margin: 0 5px;
}

#commTxtWrap h2 {
    padding: 5px;
    color: #f6891f;
    font-size: 34px;
    font-family: FuturaPT-Bold;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

#commTxtWrap strong {
    font-family: FuturaPT-Book;
    font-weight: 600;
    margin-left: 20px;
}

@media only screen and (min-width: 767px) {
    #teamSlider .item {
        min-height: 205px;
    }
}


/********** Footer ***********/

.footer_links a {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    width: 32%;
    max-width: 745px;
}

.footer_links {
    padding: 20px;
    float: left;
    width: 80%;
}

.footer_links ul {
    float: left;
    padding-left: 0px;
    width: 50%;
}

.footer_links ul li {
    list-style-type: none;
    text-align: center;
}

.footer_icons {
    float: right;
    width: 20%;
    text-align: right;
    padding: 20px;
}

.footer_icons img {
    display: inline-block;
    margin-right: 15%;
}

#mapOverlay {
    background: rgba(0, 0, 0, .8);
    width: 50%;
    top: 0;
    position: absolute;
    z-index: 999;
    height: 375px;
    padding: 10px 50px;
}

#mapOverlay h2 {
    color: #f6891f;
    font-size: 44px;
    font-family: FuturaPT-Bold;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 5px;
}

#mapOverlay a {
    text-decoration: underline;
}

#mapOverlay #addressLink,
#mapOverlay p {
    color: #fff;
    font-family: FuturaPT-Book;
    font-weight: 300;
    font-size: 18px;
}

#mapOverlay strong {
    font-weight: 600;
}

#mapOverlay h4 {
    color: #fff;
    float: left;
    cursor: pointer;
}

#closeMapOverlay {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    width: 25px;
}

#directionArrow {
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    float: left;
}

#map_wrapper,
#googleMap {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#googleMap {
    width: 30%;
    height: 375px;
}

.department-slider.slick-slider .slick-arrow:before,
.coordinator-slider.slick-slider .slick-arrow:before {
    font-size: 3rem;
}


/**** Added slider from main site ****/

.department-slider.slick-slider,
.coordinator-slider.slick-slider {
    background: #fff;
}

.tasting_text {
    text-align: center;
}

#mainSliderMob,
#experienceSliderMob,
.clubImgMob {
    display: none;
}

@media only screen and (max-width: 960px) {
    #saveDateTxt {
        padding-left: 15px;
        padding-right: 70px;
        margin-bottom: 10px;
    }
    #saveDateTxt h3 {
        font-size: 30px;
        margin-top: 5px;
    }
    #saveDateTxt h4 {
        font-size: 20px;
    }
    #saveDateTxt p {
        font-size: 18px;
    }
    #saveDateTxt li {
        font-size: 16px;
    }
    #clockdiv div>span {
        padding: 10px 15px;
        font-size: 22px;
    }
    .smalltext {
        font-size: 9px;
    }
    .colon {
        font-size: 26px;
        top: -32px;
    }
    #fbRow img {
        width: 10px;
    }
    #tickerTxt {
        margin-top: 5px;
        font-size: 16px;
    }
    #fbRow {
        margin-top: 10px;
    }
    #countDown h2 {
        margin-top: 0;
    }
    #mapOverlay h2 {
        font-size: 34px;
    }
    #mapOverlay #addressLink,
    #mapOverlay p {
        font-size: 16px;
    }
    .footer_links ul li {
        font-size: 13px;
    }
    .service_slide h3 {
        font-size: 26px;
    }
    .service_slide p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 767px) {
    #mapOverlay {
        width: 65%;
        padding: 10px 15px;
        height: 285px;
    }
    #mapOverlay h2 {
        font-size: 26px;
    }
    #googleMap {
        height: 285px;
    }
    #mapOverlay #addressLink,
    #mapOverlay p {
        font-size: 14px;
    }
    #mapOverlay h4 {
        font-size: 16px;
    }
    #closeMapOverlay {
        display: none;
    }
    #mainSliderMob {
        margin-top: 0px;
        display: block;
    }
    #mainSlider {
        display: none;
    }
    #mainSliderMob #rightArrow,
    #mainSliderMob #leftArrow {
        padding-top: 38%;
    }
    #mainSliderMob #rightArrow img,
    #mainSliderMob #leftArrow img {
        width: 30px;
    }
    .logo {
        margin: 0;
    }
    .logo img {
        width: 100%;
        max-width: 280px;
        margin: 0 auto;
    }
    #countDownBack {
        background-image: url(../img/mob_save_date.png);
        padding: 10px 0px;
    }
    #saveDateTxt {
        padding-left: 15px;
        padding-right: 70px;
    }
    #saveDateTxt h3 {
        font-size: 26px;
        margin-top: 5px;
    }
    #saveDateTxt h4 {
        font-size: 16px;
    }
    #saveDateTxt p {
        font-size: 14px;
    }
    #saveDateTxt li {
        font-size: 12px;
    }
    #clockdiv div>span {
        padding: 10px 15px;
        font-size: 20px;
    }
    .smalltext {
        font-size: 8px;
    }
    .colon {
        font-size: 20px;
        top: -32px;
    }
    #fbRow img {
        width: 10px;
    }
    #tickerTxt {
        margin-top: 5px;
        font-size: 12px;
    }
    #fbRow {
        margin-top: 10px;
    }
    #countDown h2 {
        margin-top: 0;
    }
    .sub_title p {
        font-size: 12px;
        padding: 0px 10px;
    }
    .tab_row {
        width: 100%;
        margin: 0px;
        position: relative;
    }
    .tab p {
        font-size: 12px;
    }
    .service_slide h3 {
        font-size: 26px;
    }
    .service_slide p {
        font-size: 14px;
    }
    .tab_services {
        width: 100%;
        min-height: 100%;
    }
    .service_slide {
        margin: 15px 30% 25px 0px;
    }
    .service_slide a {
        font-size: 16px;
    }
    .tab_services {
        background-image: url(img/mob_cater_slide.jpg);
    }
    .icon_box img {
        width: 50%;
    }
    .icon_box {
        height: 75px;
    }
    .slick-slider {
        margin-bottom: 10px;
    }
    .slide_caption {
        display: none;
    }
    .slide_caption p {
        font-size: 16px;
        padding: 15px 0px;
    }
    .modal-dialog {
        top: 35%;
        width: 90%;
        text-align: center;
    }
    .img_slide_holder {
        padding: 0px 5px;
        cursor: pointer;
    }
    .clubImgMob {
        display: block;
        width: 100%;
        margin-top: 20px;
    }
    .clubImg {
        display: none;
    }
    #exploreSlider #leftArrow,
    #teamSlider #leftArrow {
        left: 0;
    }
    #experienceSlider #leftArrow {
        left: -2%;
    }
    #exploreSlider #rightArrow,
    #teamSlider #rightArrow {
        right: -2%;
    }
    #experienceSlider #rightArrow {
        right: -4%;
    }
    #smallSlider h3,
    #typeClick h3 {
        font-size: 16px;
        padding-left: 5px;
    }
    #clubRow h2 {
        font-size: 28px;
        padding-left: 20px;
    }
    .explore_arrow_right,
    .explore_arrow_left {
        top: 40%;
    }
    .explore_arrow_right {
        margin-left: 5px;
    }
    #teamSlider .item img {
        width: 100%;
    }
    #teamSlider .item {
        padding: 10px;
    }
    .title_line {
        font-size: 14px;
    }
    .module_title_line {
        font-size: 24px;
    }
    #module_hr {
        top: -20px;
        background-color: #fff;
    }
    .module {
        background-color: #fff !important;
    }
    .boby_txt {
        font-size: 12px;
    }
    #communityBack {
        background-image: url(../img/Community_back_mob.jpg);
        float: left;
        padding-right: 0px;
        width: 100%;
    }
    #commTxtWrap {
        padding: 5px;
    }
    #commTxtWrap h2 {
        font-size: 18px;
    }
    #commTxtWrap ul {
        padding-left: 23px;
    }
    #commTxtWrap li {
        font-size: 12px;
    }
    #commTxtWrap strong {
        margin-left: 7px;
    }
    #logoRow {
        margin-top: 10px;
    }
    #logoRow img {
        width: 35px;
    }
    .little_mob_pad {
        padding-right: 10px;
    }
    #poepleRow {
        margin-bottom: 20px;
        padding: 0px;
    }
    .footer_links {
        width: 70%;
    }
    .footer_links a {
        margin-bottom: 5px;
        font-family: FuturaPT-Book;
        font-weight: 300;
        display: block;
        font-size: 12px;
        width: 100%;
        text-align: left;
    }
    .footer_links ul li {
        text-align: left;
    }
    .footer_icons {
        width: 30%;
        margin-top: 18%;
        padding: 0px 10px 0 0;
    }
    #leftArrow img,
    #rightArrow img {
        width: 10px;
    }
    .mob-no-pad {
        padding: 0px;
    }
    .carousel-control .icon-next,
    .carousel-control .glyphicon-chevron-right {
        margin-right: 0px;
    }
    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        width: 100%;
    }
    #mainSliderMob #rightArrow img {
        position: absolute;
        right: 0px;
    }
    h2 {
        margin-top: 0px;
    }
    #typeClick {
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 560px) {
    #experienceSlider #leftArrow {
        left: -4%;
    }
    #experienceSlider #rightArrow {
        right: -6%;
    }
    .tab_services {
        min-height: 375px;
    }
    .tab_row {
        top: 336px;
        width: 101%;
        position: absolute;
    }
}

@media only screen and (max-width: 415px) {
    #saveDateTxt ul {
        max-width: 275px;
    }
}

@media only screen and (max-width: 365px) {
    #exploreSlider #rightArrow,
    #teamSlider #rightArrow {
        right: -4%;
    }
    #experienceSlider #leftArrow {
        left: -6%;
    }
    #experienceSlider #rightArrow {
        right: -9%;
    }
    #mainSliderMob #rightArrow img {
        position: absolute;
        right: 0px;
    }
    h2 {
        margin-top: 0px;
    }
    #typeClick {
        padding-bottom: 0px;
    }
    .slide_caption p {
        font-size: 12px;
    }
}


/******** Slider arrow edits *******/

.department-slider.slick-slider .slick-arrow,
.coordinator-slider.slick-slider .slick-arrow {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
}

.department-slider.slick-slider .slick-next:before,
.coordinator-slider.slick-slider .slick-next:before {
    content: "\e080";
}

.department-slider.slick-slider .slick-prev:before,
.coordinator-slider.slick-slider .slick-prev:before {
    content: "\e079";
}

#menuArrow {
    float: right;
    position: absolute;
    margin-top: 3.5px;
    margin-left: 10px;
}

.slick-slide {
    display: inline-block;
}

.slick-prev {
    font-family: 'Glyphicons Halflings'!important;
    content: "\e079"!important;
}

.slick-next:before {
    font-family: 'Glyphicons Halflings'!important;
    content: "\e080"!important;
}

.slick-prev:before {
    font-family: 'Glyphicons Halflings'!important;
    content: "\e079"!important;
}

.department-slider.slick-slider,
.coordinator-slider.slick-slider {
    background: #ffffff!important;
}

.up_arrow {
    display: none;
}

.active .up_arrow {
    display: flex;
    width: 10px;
    height: 15px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #f6883a;
    margin: 0 auto;
    margin-top: -15px;
}


/***** Includes from balduccis.css *****/


/* Slider */


/* line 3, sass/modules/_slick-slider.scss */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}


/* line 18, sass/modules/_slick-slider.scss */

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}


/* line 25, sass/modules/_slick-slider.scss */

.slick-list:focus {
    outline: none;
}


/* line 29, sass/modules/_slick-slider.scss */

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}


/* line 34, sass/modules/_slick-slider.scss */

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}


/* line 43, sass/modules/_slick-slider.scss */

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
}


/* line 49, sass/modules/_slick-slider.scss */

.slick-track:before,
.slick-track:after {
    content: "";
    display: table;
}


/* line 55, sass/modules/_slick-slider.scss */

.slick-track:after {
    clear: both;
}


/* line 59, sass/modules/_slick-slider.scss */

.slick-loading .slick-track {
    visibility: hidden;
}


/* line 63, sass/modules/_slick-slider.scss */

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}


/* line 67, sass/modules/_slick-slider.scss */

[dir="rtl"] .slick-slide {
    float: right;
}


/* line 70, sass/modules/_slick-slider.scss */

.slick-slide img {
    display: block;
}


/* line 73, sass/modules/_slick-slider.scss */

.slick-slide.slick-loading img {
    display: none;
}


/* line 79, sass/modules/_slick-slider.scss */

.slick-slide.dragging img {
    pointer-events: none;
}


/* line 83, sass/modules/_slick-slider.scss */

.slick-initialized .slick-slide {
    display: block;
}


/* line 87, sass/modules/_slick-slider.scss */

.slick-loading .slick-slide {
    visibility: hidden;
}


/* line 91, sass/modules/_slick-slider.scss */

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}


/* line 97, sass/modules/_slick-slider.scss */

.slick-arrow.slick-hidden {
    display: none;
}


/** Theme */


/* Slider */


/* line 120, sass/modules/_slick-slider.scss */

.slick-loading .slick-list {
    background: #fff url("/skin/frontend/default/balduccis/images/ajax-loader.gif") center center no-repeat;
}


/* Arrows */


/* line 129, sass/modules/_slick-slider.scss */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px\9;
    /*lte IE 8*/
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
}


/* line 148, sass/modules/_slick-slider.scss */

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent;
}


/* line 152, sass/modules/_slick-slider.scss */

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}


/* line 156, sass/modules/_slick-slider.scss */

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}


/* line 161, sass/modules/_slick-slider.scss */

.slick-prev:before,
.slick-next:before {
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* line 171, sass/modules/_slick-slider.scss */

.slick-prev {
    left: -25px;
}


/* line 173, sass/modules/_slick-slider.scss */

[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px;
}


/* line 177, sass/modules/_slick-slider.scss */

.slick-prev:before {
    content: "←";
}


/* line 179, sass/modules/_slick-slider.scss */

[dir="rtl"] .slick-prev:before {
    content: "→";
}


/* line 185, sass/modules/_slick-slider.scss */

.slick-next {
    right: -25px;
}


/* line 187, sass/modules/_slick-slider.scss */

[dir="rtl"] .slick-next {
    left: -25px;
    right: auto;
}


/* line 191, sass/modules/_slick-slider.scss */

.slick-next:before {
    content: "→";
}


/* line 193, sass/modules/_slick-slider.scss */

[dir="rtl"] .slick-next:before {
    content: "←";
}


/* Dots */


/* line 201, sass/modules/_slick-slider.scss */

.slick-slider {
    margin-bottom: 30px;
}


/* line 205, sass/modules/_slick-slider.scss */

.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
}


/* line 213, sass/modules/_slick-slider.scss */

.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}


/* line 221, sass/modules/_slick-slider.scss */

.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}


/* line 233, sass/modules/_slick-slider.scss */

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}


/* line 235, sass/modules/_slick-slider.scss */

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}


/* line 239, sass/modules/_slick-slider.scss */

.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* line 256, sass/modules/_slick-slider.scss */

.slick-dots li.slick-active button:before {
    color: black;
    opacity: 0.75;
}


/** Custom **/


/* line 266, sass/modules/_slick-slider.scss */

.slick-slider.home-slick-slider {
    margin-bottom: 0;
}


/* line 269, sass/modules/_slick-slider.scss */

.home-slick-slider .slick-dots {
    bottom: 0;
    margin-bottom: 0;
}


/* line 272, sass/modules/_slick-slider.scss */

.home-slick-slider .slick-dots li {
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: solid 1px rgba(255, 255, 255, 0.8);
    border-bottom: none;
    padding: 8px 35px 4px 35px;
    margin: 0;
    position: relative;
}


/* line 281, sass/modules/_slick-slider.scss */

.home-slick-slider .slick-dots li:hover {
    background-color: #F6891F;
}


/* line 284, sass/modules/_slick-slider.scss */

.home-slick-slider .slick-dots li:first-child {
    border-right: 0;
}


/* line 287, sass/modules/_slick-slider.scss */

.home-slick-slider .slick-dots li:last-child {
    border-left: 0;
}


/* line 290, sass/modules/_slick-slider.scss */

.home-slick-slider .slick-dots li.slick-active {
    background-color: #F6891F;
}


/* line 292, sass/modules/_slick-slider.scss */

.home-slick-slider .slick-dots li.slick-active:before,
.home-slick-slider .slick-dots li.slick-active:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}


/* line 302, sass/modules/_slick-slider.scss */

.home-slick-slider .slick-dots li.slick-active:after {
    border-color: rgba(223, 144, 29, 0);
    border-bottom-color: #F6891F;
    border-width: 10px;
    margin-left: -10px;
}


/* line 308, sass/modules/_slick-slider.scss */

.home-slick-slider .slick-dots li.slick-active:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 11px;
    margin-left: -11px;
}


/* line 315, sass/modules/_slick-slider.scss */

.home-slick-slider .slick-dots li a {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000;
}


/* line 320, sass/modules/_slick-slider.scss */

.home-slick-slider .slick-dots li a:hover {
    text-decoration: none;
}


/* line 330, sass/modules/_slick-slider.scss */

.explore-slider.slick-delay-render {
    visibility: hidden;
}


/* line 332, sass/modules/_slick-slider.scss */

.explore-slider.slick-delay-render .slick-track {
    height: 0;
}


/* line 341, sass/modules/_slick-slider.scss */

.explore-slider .slick-dots {
    padding-left: 50%;
    text-align: left;
    bottom: -24px;
    font-size: 14px;
    font-size: 1.4rem;
}


/* line 346, sass/modules/_slick-slider.scss */

.explore-slider .slick-dots a {
    color: #000;
}


/* line 348, sass/modules/_slick-slider.scss */

.explore-slider .slick-dots a:hover {
    color: #000;
    text-decoration: none;
}


/* line 353, sass/modules/_slick-slider.scss */

.explore-slider .slick-dots img {
    height: 100px;
    width: 100px;
    opacity: 0.3;
}


/* line 358, sass/modules/_slick-slider.scss */

.explore-slider .slick-dots li {
    height: 100px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    margin: 0;
}


/* line 369, sass/modules/_slick-slider.scss */

.explore-slider .slick-dots li img {
    transition: all 0.5s ease;
}


/* line 372, sass/modules/_slick-slider.scss */

.explore-slider .slick-dots li.slick-active img {
    opacity: 1;
}


/* line 376, sass/modules/_slick-slider.scss */

.explore-slider .slick-dots .slider-thumb-wrap {
    background-color: #000;
}


/* line 383, sass/modules/_slick-slider.scss */

.department-slider.slick-slider,
.coordinator-slider.slick-slider {
    background-color: #f4f4f4;
    padding-left: 40px;
    padding-right: 40px;
}


/* line 388, sass/modules/_slick-slider.scss */

.department-slider.slick-slider .slick-slide,
.coordinator-slider.slick-slider .slick-slide {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* line 392, sass/modules/_slick-slider.scss */

.department-slider.slick-slider .slick-arrow,
.coordinator-slider.slick-slider .slick-arrow {
    font: normal normal normal 14px/1 FontAwesome;
}


/* line 394, sass/modules/_slick-slider.scss */

.department-slider.slick-slider .slick-arrow:before,
.coordinator-slider.slick-slider .slick-arrow:before {
    font-size: 35px;
    font-size: 3.5rem;
}


/* line 398, sass/modules/_slick-slider.scss */

.department-slider.slick-slider .slick-next,
.department-slider.slick-slider .slick-prev,
.coordinator-slider.slick-slider .slick-next,
.coordinator-slider.slick-slider .slick-prev {
    height: 35px;
    width: 25px;
    z-index: 5;
}


/* line 403, sass/modules/_slick-slider.scss */

.department-slider.slick-slider .slick-next,
.coordinator-slider.slick-slider .slick-next {
    /*  right: 10px;*/
}


/* line 405, sass/modules/_slick-slider.scss */

.department-slider.slick-slider .slick-next:before,
.coordinator-slider.slick-slider .slick-next:before {
    content: "\f054";
}


/* line 409, sass/modules/_slick-slider.scss */

.department-slider.slick-slider .slick-prev,
.coordinator-slider.slick-slider .slick-prev {
    /*  left: 10px;*/
}


/* line 411, sass/modules/_slick-slider.scss */

.department-slider.slick-slider .slick-prev:before,
.coordinator-slider.slick-slider .slick-prev:before {
    content: "\f053";
}


/* line 416, sass/modules/_slick-slider.scss */

.department-slider.slick-slider .slick-next:before,
.department-slider.slick-slider .slick-prev:before,
.department-slider.slick-slider .slick-prev:after,
.department-slider.slick-slider .slick-next:after,
.coordinator-slider.slick-slider .slick-next:before,
.coordinator-slider.slick-slider .slick-prev:before,
.coordinator-slider.slick-slider .slick-prev:after,
.coordinator-slider.slick-slider .slick-next:after {
    color: #F6891F;
}


/* line 428, sass/modules/_slick-slider.scss */

.department-slider.slick-slider .slick-slide img,
.department-slider.slick-slider .slick-slide p {
    margin: 0 auto;
    text-align: center;
}


/* line 432, sass/modules/_slick-slider.scss */

.department-slider.slick-slider .slick-slide img {
    max-width: 80px;
}


/* line 436, sass/modules/_slick-slider.scss */

.department-slider.slick-slider .slick-track {
    margin: 0 auto;
}


/* line 443, sass/modules/_slick-slider.scss */

.coordinator-slider.slick-slider .row.cord-mobile {
    display: none;
}


/* line 449, sass/modules/_slick-slider.scss */

.coordinator-slider.slick-slider h5 {
    display: block;
    padding-bottom: 5px;
    border-bottom: solid 1px #000;
    font-size: 22px;
    font-size: 2.2rem;
}


/* line 456, sass/modules/_slick-slider.scss */

.coordinator-slider.slick-slider .cord-content {
    font-size: 17px;
    font-size: 1.7rem;
}


/* line 459, sass/modules/_slick-slider.scss */

.coordinator-slider.slick-slider .slick-dots {
    position: relative;
    bottom: -30px;
}


/* line 463, sass/modules/_slick-slider.scss */

.coordinator-slider.slick-slider .slick-dots li {
    margin: 0 8;
}


/* line 465, sass/modules/_slick-slider.scss */

.coordinator-slider.slick-slider .slick-dots li,
.coordinator-slider.slick-slider .slick-dots li button,
.coordinator-slider.slick-slider .slick-dots li button:before {
    height: 32px;
    width: 32px;
}


/* line 469, sass/modules/_slick-slider.scss */

.coordinator-slider.slick-slider .slick-dots li button:before {
    font-size: 75px;
    font-size: 7.5rem;
    color: #e0e1dd;
    opacity: 1;
    text-shadow: 0 0 1px #333;
}


/* line 476, sass/modules/_slick-slider.scss */

.coordinator-slider.slick-slider .slick-dots li.slick-active button:before {
    color: #F6891F;
}

@media only screen and (max-width: 1024px) {
    /* line 485, sass/modules/_slick-slider.scss */
    .home-slick-slider .slick-dots li {
        padding-left: 25px;
        padding-right: 25px;
    }
    /* line 488, sass/modules/_slick-slider.scss */
    .home-slick-slider .slick-dots li a {
        letter-spacing: 1px;
    }
}

@media only screen and (max-width: 800px) {
    /* line 496, sass/modules/_slick-slider.scss */
    .home-slick-slider .slick-dots li {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 940px) {
    /* line 504, sass/modules/_slick-slider.scss */
    .department-slider.slick-slider .slick-next {
        right: -10px;
    }
    /* line 507, sass/modules/_slick-slider.scss */
    .department-slider.slick-slider .slick-prev {
        left: -10px;
    }
}

@media only screen and (max-width: 768px) {
    /* line 515, sass/modules/_slick-slider.scss */
    .department-slider.slick-slider .slick-next {
        right: 8px;
    }
    /* line 518, sass/modules/_slick-slider.scss */
    .department-slider.slick-slider .slick-prev {
        left: 8px;
    }
    /* line 523, sass/modules/_slick-slider.scss */
    .coordinator-slider.slick-slider {
        background: transparent;
        padding: 0;
    }
    /* line 526, sass/modules/_slick-slider.scss */
    .coordinator-slider.slick-slider .row.cord-mobile {
        display: block;
    }
    /* line 529, sass/modules/_slick-slider.scss */
    .coordinator-slider.slick-slider .row.cord-desktop {
        display: none;
    }
    /* line 533, sass/modules/_slick-slider.scss */
    .coordinator-slider.slick-slider .cord-mobile-content h5,
    .coordinator-slider.slick-slider .cord-mobile-content .cord-location {
        display: none;
    }
    /* line 537, sass/modules/_slick-slider.scss */
    .coordinator-slider.slick-slider h5 {
        border-bottom: 0;
        margin-bottom: 0;
        font-size: 20px;
        font-size: 2rem;
    }
    /* line 542, sass/modules/_slick-slider.scss */
    .coordinator-slider.slick-slider .cord-header {
        margin-bottom: 8px;
    }
    /* line 544, sass/modules/_slick-slider.scss */
    .coordinator-slider.slick-slider .cord-header .cord-quote {
        display: none;
    }
    /* line 547, sass/modules/_slick-slider.scss */
    .coordinator-slider.slick-slider .cord-header .cord-location {
        border-bottom: solid 1px #000;
        padding-bottom: 10px;
    }
    /* line 552, sass/modules/_slick-slider.scss */
    .coordinator-slider.slick-slider .slick-slide {
        padding-top: 0;
        padding-bottom: 0;
    }
    /* line 556, sass/modules/_slick-slider.scss */
    .coordinator-slider.slick-slider .cord-mobile-content {
        background-color: #f4f4f4;
    }
    /* line 559, sass/modules/_slick-slider.scss */
    .coordinator-slider.slick-slider .cord-content {
        padding: 20px 20px 0 15px;
    }
    /* line 562, sass/modules/_slick-slider.scss */
    .coordinator-slider.slick-slider .cord-image {
        padding-right: 0;
    }
}

@media only screen and (max-width: 767px) {
    /* line 570, sass/modules/_slick-slider.scss */
    .department-slider.slick-slider .slick-arrow:before {
        font-size: 30px;
        font-size: 3rem;
    }
    /* line 574, sass/modules/_slick-slider.scss */
    .home-slick-slider .slick-slider {
        display: none;
    }
    /* line 578, sass/modules/_slick-slider.scss */
    .explore-slider .slick-dots {
        display: none !important;
    }
}

@media only screen and (max-width: 480px) {
    /* line 586, sass/modules/_slick-slider.scss */
    .coordinator-slider.slick-slider .cord-quote {
        font-size: 13px;
        font-size: 1.3rem;
    }
    /* line 589, sass/modules/_slick-slider.scss */
    .coordinator-slider.slick-slider .cord-location {
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    /* line 593, sass/modules/_slick-slider.scss */
    .coordinator-slider.slick-slider .cord-content {
        padding-top: 10px;
    }
}


/* line 1, sass/modules/_banners.scss */

.banner-slider {
    position: relative;
}


/* line 3, sass/modules/_banners.scss */

.banner-slider .banner-slide {
    background: #000 url("../images/banner-slider-bg.png") repeat-x 0 0;
}


/* line 7, sass/modules/_banners.scss */

.banner-slider .row {
    margin: 0;
}


/* line 9, sass/modules/_banners.scss */

.banner-slider .row.img-box {
    height: 100%;
}


/* line 11, sass/modules/_banners.scss */

.banner-slider .row.img-box img {
    width: inherit;
}


/* line 17, sass/modules/_banners.scss */

.banner-slider .slider-image-text {
    padding-left: 55px;
}


/* line 23, sass/modules/_banners.scss */

.banner-slider .slider-image-bg {
    padding-right: 0;
}


/* line 25, sass/modules/_banners.scss */

.banner-slider .slider-image-bg .content {
    text-align: right;
}


/* line 28, sass/modules/_banners.scss */

.banner-slider .slider-image-bg img {
    display: inline-block;
    max-width: none;
}


/* line 35, sass/modules/_banners.scss */

.banner-slider.banner-slider-single .slider-image-text {
    padding-left: 15px;
}

@media only screen and (max-width: 767px) {
    /* line 44, sass/modules/_banners.scss */
    .banner-slider .slider-image-bg {
        display: none;
    }
    /* line 48, sass/modules/_banners.scss */
    .banner-slider .inside {
        padding: 20px 0;
    }
    /* line 53, sass/modules/_banners.scss */
    .banner-slider .slider-image-text img {
        width: 85% !important;
        margin: 0 auto;
    }
}


/* Print view */


/* line 2, sass/modules/_print-view.scss */

.print-view-tab-header,
.product-view .print-version.close-print-version {
    display: none;
}


/* line 7, sass/modules/_print-view.scss */

.print-view body,
.print-view .wrapper {
    background-image: none;
    background-color: #fff;
    color: #000;
    padding-top: 0;
}


/* line 13, sass/modules/_print-view.scss */

.print-view body>.wrapper {
    margin-bottom: 0;
}


/* line 16, sass/modules/_print-view.scss */

.print-view .container.header-wrap,
.print-view .header-wrap,
.print-view .breadcrumbs,
.print-view .product-shop-media,
.print-view .addthis_toolbox,
.print-view .related-recipes,
.print-view .footer-wrap,
.print-view a.tab-directions,
.print-view a.tab-tips,
.print-view .more-views,
.print-view .header-bg-wrap,
.print-view .recipe-favorite {
    display: none !important;
}


/* line 31, sass/modules/_print-view.scss */

.print-view .page {
    border: none;
}


/* line 35, sass/modules/_print-view.scss */

.print-view .product-shop {
    width: 100%;
}


/* line 39, sass/modules/_print-view.scss */

.print-view .tab-content>.tab-pane,
.print-view .print-view-tab-header {
    display: block !important;
}


/* line 44, sass/modules/_print-view.scss */

.print-view .print-view-tab-header,
.print-view .nav-tabs>li,
.print-view .product-view .nav-tabs .active {
    opacity: 1;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 100%;
    font-weight: bold;
}


/* line 53, sass/modules/_print-view.scss */

.print-view .print-view-tab-header a,
.print-view .nav-tabs>li a,
.print-view .product-view .nav-tabs .active a {
    border-bottom: 0 !important;
    color: #000;
    margin-bottom: 0;
    padding: 0;
    text-decoration: none;
}


/* line 62, sass/modules/_print-view.scss */

.print-view .product-view .nav-tabs {
    margin-bottom: 0;
}


/* line 64, sass/modules/_print-view.scss */

.print-view .product-view .nav-tabs li {
    border: none;
    margin-bottom: 0;
}


/* line 70, sass/modules/_print-view.scss */

.print-view .product-view .tab-pane {
    background-color: transparent;
    padding-left: 0;
}


/* line 73, sass/modules/_print-view.scss */

.print-view .product-view .tab-pane:first-child {
    padding-top: 0;
}


/* line 79, sass/modules/_print-view.scss */

.print-view .shop-payment-success .form-wrap,
.print-view .shop-payment-success .block-border {
    background-color: #fff;
    border: none;
}


/* line 83, sass/modules/_print-view.scss */

.print-view .shop-payment-success .continue-shopping-link {
    display: none;
}


/* Print stylesheet */

@media print {
    /* line 3, sass/modules/_print.scss */
    body,
    .wrapper {
        background-image: none;
        background-color: #fff;
        color: #000;
        padding-top: 0;
    }
    /* line 9, sass/modules/_print.scss */
    body>.wrapper {
        margin-bottom: 0;
    }
    /* line 12, sass/modules/_print.scss */
    a {
        color: #000 !important;
    }
    /* line 15, sass/modules/_print.scss */
    a[href]:after,
    abbr[title]:after {
        content: "";
    }
    /* line 18, sass/modules/_print.scss */
    .header.container,
    .container.header-wrap,
    .breadcrumbs,
    .product-shop-media,
    .addthis_toolbox,
    .related-recipes,
    .footer-container,
    .footer-wrap,
    a.tab-directions,
    a.tab-tips,
    .more-views {
        display: none !important;
    }
    /* line 32, sass/modules/_print.scss */
    .page {
        border: none;
    }
    /* line 36, sass/modules/_print.scss */
    .product-shop {
        width: 100%;
    }
    /* line 40, sass/modules/_print.scss */
    .tab-content>.tab-pane,
    .print-view-tab-header {
        display: block !important;
    }
    /* line 45, sass/modules/_print.scss */
    .print-view-tab-header,
    .product-view .print-version.close-print-version {
        display: none;
    }
    /* line 50, sass/modules/_print.scss */
    .print-view-tab-header,
    .nav-tabs>li,
    .product-view .nav-tabs .active {
        opacity: 1;
        color: #000;
        text-transform: uppercase;
        margin-bottom: 10px;
        width: 100%;
        font-weight: bold;
    }
    /* line 59, sass/modules/_print.scss */
    .print-view-tab-header a,
    .nav-tabs>li a,
    .product-view .nav-tabs .active a {
        border-bottom: 0 !important;
        color: #000;
        margin-bottom: 0;
        padding: 0;
        text-decoration: none;
    }
    /* line 68, sass/modules/_print.scss */
    .product-view .nav-tabs {
        margin-bottom: 0;
    }
    /* line 70, sass/modules/_print.scss */
    .product-view .nav-tabs li {
        border: none;
        margin-bottom: 0;
    }
    /* line 76, sass/modules/_print.scss */
    .product-view .tab-pane {
        background-color: transparent;
        padding-left: 0;
    }
    /* line 79, sass/modules/_print.scss */
    .product-view .tab-pane:first-child {
        padding-top: 0;
    }
    /* line 85, sass/modules/_print.scss */
    .shop-payment-success .form-wrap,
    .shop-payment-success .block-border {
        background-color: #fff;
        border: none;
    }
    /* line 89, sass/modules/_print.scss */
    .shop-payment-success .continue-shopping-link {
        display: none;
    }
}
